<!doctypehtml> 
    <html lang="en"> 
        <meta charset="utf-8"> 
        <meta content="width=device-width,initial-scale=1.0,shrink-to-fit=no" name="viewport"> 
        <title>Untitled</title>         
        <link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet"> 
        <link href="assets/fonts/fontawesome-all.min.css" rel="stylesheet"> 
        <link href="assets/fonts/font-awesome.min.css" rel="stylesheet"> 
        <link href="assets/fonts/fontawesome5-overrides.min.css" rel="stylesheet"> 
        <link href="assets/css/styles.min.css" rel="stylesheet"> 
        <head> 
</head>         
        <body> 
            <div class="card"> 
                <div class="card-header"> 
                    <ul class="nav nav-tabs card-header-tabs" role="tablist"> 
                        <li class="nav-item">
                            <a class="nav-link active" aria-controls="item-1-1
" aria-selected="true" data-bs-toggle="tab" href="#item-1-1" id="item-1-1-tab
" role="tab">First Tab</a> 

                        <li class="nav-item">
                            <a aria-controls="item-1-2" aria-selected="false" class="nav-link
" data-bs-toggle="tab" href="#item-1-2" id="item-1-2-tab" role="tab">Second
                            Tab</a> 

                        <li class="nav-item">
                            <a aria-controls="item-1-3" aria-selected="false" class="nav-link
" data-bs-toggle="tab" href="#item-1-3" id="item-1-3-tab" role="tab">Third Tab</a> 
                    </ul>                     
                </div>                 
                <div class="card-body"> 
                    <div class="tab-content" id="nav-tabContent"> 
                        <div class="tab-pane fade show active" style="height: 423px;" aria-labelledby="item-1-1-tab" id="item-1-1" role="tabpanel"> 
                            <h4>PyWebview Jinja2 Bootstrap5 and JS DataTable</h4> 
                            <div class="col-md-12 search-table-col" style="margin: 6px 0px 0px;"> 
                                <div class="form-group pull-right col-lg-4">
                                    <input class="search form-control" placeholder="Search by typing here..">
                                </div>
                                <span class="counter pull-right"></span> 
                                <div class="table-responsive table table-hover table-bordered results"> 
                                    <table class="table table-hover table-bordered"> 
                                        <thead class="bill-header cs"> 
                                            <tr> 
                                                <th class="col-lg-1" id="trs-hd-1">Item #
                                                    <th class="col-lg-2" id="trs-hd-2">split path
                                                        <th class="col-lg-2" id="trs-hd-3">file name
                                                            <th class="col-lg-2" id="trs-hd-4">file address
                                                                <tbody> 
                                                                    <tr class="warning no-result"> 
                                                                        <td colspan="12"><i class="fa fa-warning"></i> No Result
                                                !!!
 
                                                                    </tr>                                                                     
                                                                    {% for i in data.keys() %} 

                                                                    <tr> 
                                                                        <td>{{ data[i].title }}
 
                                                                        <td>{{ data[i].exe }}
 
                                                                        <td>{{ data[i].id }}
 
                                                                        <td>{{ data[i].path }}
 
                                                                    </tr>                                                                     {% endfor %}
                                                                    <p>Nullam id dolor id nibh ultricies
                                            vehicula ut id elit. Cras justo odio, dapibus ac
                                            facilisis in, egestas eget quam. Donec id elit non mi
                                            porta gravida at eget metus.</p>                                                                                                                                           
                                                                    <script src="assets/bootstrap/js/bootstrap.min.js"> </script>                                                                     
                                                                    <script src="assets/js/script.min.js"> </script>
