[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jinja2 = "*"
pywebview = "*"
urllib3 = "*"
setuptools = "*"
pip = "*"
wheel = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.1"
