<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>
  <div>
    <p>
      {{ title }}
    </p>
    <select name="process" id="process" multiple="">
      <optgroup label="These for loop items" name="">
        {% for i in data %}
        <option value="{{i.item}}" selected="" id="items">{{ i.item }}</option>
        {% endfor %}
      </optgroup>
    </select>
    <br><br>
    <button type="button" id="submit">Submit</button>
  </div>
  <br><br>
  {% for items in list %}
  <p>
    {{ items }}
  </p>
  {% endfor %}
</body>

</html>